# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


### robotframework template
log.html
output.xml
report.html
selenium-screenshot-*.png
/_pycache_/
/Generic-Test-Cases/__pycache__